@import "~bootstrap/scss/bootstrap.scss";
@import "~bootstrap-icons/font/bootstrap-icons.scss";

.imgContent {
  top: 56px;
  height: 40vh;
  background: url("../public/img/hard-hat.jpg") center -200px no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.mainImg {
  height: 40vh;
}

.info-box {
  width: 50%;
  z-index: 10;
  background-color: #000;
  opacity: 0.5;
  position: absolute;
  top: -56px;
  left: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.infoBoxContent {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  color: white;
  flex-direction: column;
  padding: 20px;
  text-align: center;
}

.btn-outline-success {
  color: #5affb3;
  border-color: #48ca8d;
}
.icon {
  transition: transform 1.5s;
  transform-style: preserve-3d;
}

.cardItem:hover .icon {
  transform: rotateY(360deg) scale(1.6);
}

ul {
  list-style-type: none;
  padding: 0;
}
li p {
  padding: 5px;
  margin: 0;
}
.footer {
  font-size: 14px;
  color: #ccc;
  margin-right: 0;
  margin-left: 0;
}
.address {
  font-size: 12px;
}

.row {
  margin-right: 0;
  margin-left: 0;
}
.rowMargin {
  margin-right: -16px;
  margin-left: -16px;
}
